@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


.box {
  width: 500px;
  height: 200px;
  background-color: white;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;

}

.blue {
  width: 14px;
  height: 100%;
  background-color: blue;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.titulo {
  display: flex;
  align-items: flex-start;
  margin-left: 8px;
}

.descricao{
  font-family: "EB Garamond";
}